@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    /* #region  /**=========== Primary Color =========== */
    /* !STARTERCONF Customize these variable, copy and paste from /styles/colors.css for list of colors */
    --tw-color-primary-50: 236 253 245;
    --tw-color-primary-100: 209 250 229;
    --tw-color-primary-200: 167 243 208;
    --tw-color-primary-300: 110 231 183;
    --tw-color-primary-400: 52 211 153;
    --tw-color-primary-500: 16 185 129;
    --tw-color-primary-600: 5 150 105;
    --tw-color-primary-700: 4 120 87;
    --tw-color-primary-800: 6 95 70;
    --tw-color-primary-900: 6 78 59;
    --color-primary-50: rgb(var(--tw-color-primary-50)); /* #ecfdf5 */
    --color-primary-100: rgb(var(--tw-color-primary-100)); /* #d1fae5 */
    --color-primary-200: rgb(var(--tw-color-primary-200)); /* #a7f3d0 */
    --color-primary-300: rgb(var(--tw-color-primary-300)); /* #6ee7b7 */
    --color-primary-400: rgb(var(--tw-color-primary-400)); /* #34d399 */
    --color-primary-500: rgb(var(--tw-color-primary-500)); /* #10b981 */
    --color-primary-600: rgb(var(--tw-color-primary-600)); /* #059669 */
    --color-primary-700: rgb(var(--tw-color-primary-700)); /* #047857 */
    --color-primary-800: rgb(var(--tw-color-primary-800)); /* #065f46 */
    --color-primary-900: rgb(var(--tw-color-primary-900)); /* #064e3b */
    /* #endregion  /**======== Primary Color =========== */
}

@layer base {
    /* #region  /**=========== Site Theme Color Palette =========== */
    .text-default {
        @apply text-zinc-800 dark:text-zinc-200;
    }

    .bg-default {
        @apply bg-neutral-100 dark:bg-neutral-800;
    }

    .border-default {
        @apply border-zinc-800 dark:border-zinc-500;
    }

    .bg-primary {
        @apply bg-primary-100/10 dark:bg-primary-900/10;
    }

    .bg-light {
        @apply bg-zinc-300 dark:bg-zinc-600;
    }

    .text-primary {
        @apply text-primary-600 dark:text-primary-400;
    }

    .text-light {
        @apply text-zinc-400 dark:text-zinc-500;
    }

    .border-light {
        @apply border-zinc-300 dark:border-zinc-600;
    }

    .hover-rev-default {
        @apply transition-colors hover:bg-neutral-800 hover:text-zinc-200;
        @apply dark:hover:bg-neutral-100 dark:hover:text-zinc-800;
    }

    .hover-text-primary {
        @apply transition-colors duration-200 hover:text-primary-700 focus:text-primary-700 dark:hover:text-primary-400 dark:focus:text-primary-400;
    }
    /* #endregion  /**======== Site Theme Color Palette =========== */

    .cursor-newtab {
        cursor: url('/images/new-tab.png') 10 10, pointer;
    }

    /* #region  /**=========== Typography =========== */
    .h0 {
        @apply font-primary text-3xl font-bold md:text-5xl;
    }

    h1,
    .h1 {
        @apply font-primary text-2xl font-bold md:text-4xl;
    }

    h2,
    .h2 {
        @apply font-primary text-xl font-bold md:text-3xl;
    }

    h3,
    .h3 {
        @apply font-primary text-lg font-bold md:text-2xl;
    }

    h4,
    .h4 {
        @apply font-primary text-base font-bold md:text-lg;
    }

    body,
    .p {
        @apply font-primary text-sm md:text-base;
    }
    /* #endregion  /**======== Typography =========== */

    .layout {
        /* 1100px */
        max-width: 68.75rem;
        @apply mx-auto w-11/12;
    }

    .definitely-form-field-not-false {
        display: none;
    }

    /* Right side to screen end, left side match layout margin */
    .layout-left {
        @apply layout md:mx-[initial] md:ml-auto md:w-auto md:max-w-none md:pl-[calc((100%-min(91.66667%,68.75rem))/2)];
    }

    .bg-dark a.custom-link {
        @apply border-gray-200 hover:border-gray-200/0;
    }

    /* Class to adjust with sticky footer */
    .min-h-main {
        @apply min-h-[calc(100vh-56px)];
    }

    /* #region  /**=========== Hamburger menu =========== */
    .menu {
        background-color: transparent;
        border: none;
        cursor: pointer;
        display: flex;
        padding: 0;
        transform: scale(35%);
    }
    .line {
        @apply stroke-black dark:stroke-white;
        fill: none;
        stroke-width: 6;
        transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
            stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .line1 {
        stroke-dasharray: 60 207;
        stroke-width: 6;
    }
    .line2 {
        stroke-dasharray: 60 60;
        stroke-width: 6;
    }
    .line3 {
        stroke-dasharray: 60 207;
        stroke-width: 6;
    }
    .opened .line1 {
        stroke-dasharray: 90 207;
        stroke-dashoffset: -134;
        stroke-width: 6;
    }
    .opened .line2 {
        stroke-dasharray: 1 60;
        stroke-dashoffset: -30;
        stroke-width: 6;
    }
    .opened .line3 {
        stroke-dasharray: 90 207;
        stroke-dashoffset: -134;
        stroke-width: 6;
    }
    /* #endregion  /**======== Hamburger menu =========== */
}

@layer utilities {
    .animated-underline {
        background-image: linear-gradient(#33333300, #33333300),
            linear-gradient(
                to right,
                var(--color-primary-400),
                var(--color-primary-500)
            );
        background-size: 100% 2px, 0 2px;
        background-position: 100% 100%, 0 100%;
        background-repeat: no-repeat;
    }
    @media (prefers-reduced-motion: no-preference) {
        .animated-underline {
            transition: 0.3s ease;
            transition-property: background-size, color, background-color,
                border-color;
        }
    }
    .animated-underline:hover,
    .animated-underline:focus-visible {
        background-size: 0 2px, 100% 2px;
    }
}
